@{
    Layout = "_AdminLayout";
    ViewData["TitleAdmin"] = "Trang chủ quản lý";
}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <!-- <form class="d-flex">
                        <div class="input-group">
                            <input type="text" class="form-control form-control-light"
                                id="dash-daterange">
                            <span class="input-group-text bg-primary border-primary text-white">
                                <i class="mdi mdi-calendar-range font-13"></i>
                            </span>
                        </div>
                        <a href="javascript: void(0);" class="btn btn-primary ms-2">
                            <i class="mdi mdi-autorenew"></i>
                        </a>
                        <a href="javascript: void(0);" class="btn btn-primary ms-1">
                            <i class="mdi mdi-filter-variant"></i>
                        </a>
                    </form> -->
                </div>
                <h4 class="page-title">Home</h4>
            </div>
        </div>
    </div>

    <div class="row  align-items-stretch">
        <div class="col-xl-5 col-lg-6">
            <div class="mainslider  w-10">
                <div class="slider">
                    <div>
                        <h3>1</h3>
                    </div>
                    <div>
                        <h3>2</h3>
                    </div>
                    <div>
                        <h3>3</h3>
                    </div>
                    <div>
                        <h3>4</h3>
                    </div>
                    <div>
                        <h3>5</h3>
                    </div>
                </div>
            </div>
        </div> <!-- end col -->

        <div class="col-xl-7 col-lg-6">
            <div class="card card-h-100">
                <div class="d-flex card-header justify-content-between align-items-center py-3">
                    <h4 class="header-title">popular destination</h4>
                    <div></div>
                </div>
                <div class="card-body py-0">
                    <div dir="ltr">
                        <!-- <div id="high-performing-product" class="apex-charts" data-colors="#727cf5,#91a6bd40"></div> -->
                        <div class="row justify-content-center g-1">
                            <div class="col-2">
                                <div class="location-card">
                                    <div class="location-icon">
                                        <i class="uil-location-point"></i>
                                    </div>
                                    <div>New York</div>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="location-card">
                                    <div class="location-icon">
                                        <i class="uil-location-point"></i>
                                    </div>
                                    <div>Los Angeles</div>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="location-card">
                                    <div class="location-icon">
                                        <i class="uil-location-point"></i>
                                    </div>
                                    <div>Paris</div>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="location-card">
                                    <div class="location-icon">
                                        <i class="uil-location-point"></i>
                                    </div>
                                    <div>Tokyo</div>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="location-card">
                                    <div class="location-icon">
                                        <i class="uil-location-point"></i>
                                    </div>
                                    <div>London</div>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="location-card">
                                    <div class="location-icon">
                                        <i class="uil-location-point"></i>
                                    </div>
                                    <div>London</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> <!-- end card-body-->
                <div class="d-flex card-header justify-content-between align-items-center py-3">
                    <h4 class="header-title">popular destination 2</h4>
                    <div></div>
                </div>
                <div class="card-body pt-0">
                    <div dir="ltr">
                        <!-- <div id="high-performing-product" class="apex-charts" data-colors="#727cf5,#91a6bd40"></div> -->
                        <div class="row justify-content-center g-1">
                            <div class="col-auto">
                                <div class="location-card-no-icon">
                                    <div>10% OFF</div>
                                </div>
                            </div>
                            <div class="col-auto">
                                <div class="location-card-no-icon">
                                    <div>Free Breakfast</div>
                                </div>
                            </div>
                            <div class="col-auto">
                                <div class="location-card-no-icon">
                                    <div>Free Cancellation</div>
                                </div>
                            </div>
                            <div class="col-auto">
                                <div class="location-card-no-icon">
                                    <div>Early Check-in</div>
                                </div>
                            </div>
                            <div class="col-auto">
                                <div class="location-card-no-icon">
                                    <div>Last Check-out</div>
                                </div>
                            </div>
                            <div class="col-auto">
                                <div class="location-card-no-icon">
                                    <div>Free Wi-fi</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> <!-- end card-body-->
            </div> <!-- end card-->

        </div> <!-- end col -->
    </div>
    <!-- end row -->

    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="d-flex card-header justify-content-between align-items-center">
                    <h4 class="header-title">special hotel</h4>
                    <div></div>
                </div>
                <div class="card-body pt-0">
                    <div class="chart-content-bg">
                        <div class="row text-center"></div>
                    </div>
                    <div dir="ltr">
                        <div class="row g-1">
                            <div class="col-2">
                                <div class="card shadow-sm">
                                    <svg class="bd-placeholder-img card-img-top" width="100%"
                                         height="225" xmlns="http://www.w3.org/2000/svg" role="img"
                                         aria-label="Placeholder: Thumbnail"
                                         preserveAspectRatio="xMidYMid slice" focusable="false">
                                        <title>Placeholder</title>
                                        <rect width="100%" height="100%" fill="#39afd1"></rect>
                                        <text x="35%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
                                    </svg>

                                    <div class="card-body">
                                        <p class="card-text">
                                            This is a wider card with supporting text
                                            below as a natural lead-in to additional content. This
                                            content is a little bit longer.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="card shadow-sm">
                                    <svg class="bd-placeholder-img card-img-top" width="100%"
                                         height="225" xmlns="http://www.w3.org/2000/svg" role="img"
                                         aria-label="Placeholder: Thumbnail"
                                         preserveAspectRatio="xMidYMid slice" focusable="false">
                                        <title>Placeholder</title>
                                        <rect width="100%" height="100%" fill="#39afd1"></rect>
                                        <text x="35%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
                                    </svg>

                                    <div class="card-body">
                                        <p class="card-text">
                                            This is a wider card with supporting text
                                            below as a natural lead-in to additional content. This
                                            content is a little bit longer.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="card shadow-sm">
                                    <svg class="bd-placeholder-img card-img-top" width="100%"
                                         height="225" xmlns="http://www.w3.org/2000/svg" role="img"
                                         aria-label="Placeholder: Thumbnail"
                                         preserveAspectRatio="xMidYMid slice" focusable="false">
                                        <title>Placeholder</title>
                                        <rect width="100%" height="100%" fill="#39afd1"></rect>
                                        <text x="35%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
                                    </svg>

                                    <div class="card-body">
                                        <p class="card-text">
                                            This is a wider card with supporting text
                                            below as a natural lead-in to additional content. This
                                            content is a little bit longer.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="card shadow-sm">
                                    <svg class="bd-placeholder-img card-img-top" width="100%"
                                         height="225" xmlns="http://www.w3.org/2000/svg" role="img"
                                         aria-label="Placeholder: Thumbnail"
                                         preserveAspectRatio="xMidYMid slice" focusable="false">
                                        <title>Placeholder</title>
                                        <rect width="100%" height="100%" fill="#39afd1"></rect>
                                        <text x="35%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
                                    </svg>

                                    <div class="card-body">
                                        <p class="card-text">
                                            This is a wider card with supporting text
                                            below as a natural lead-in to additional content. This
                                            content is a little bit longer.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="card shadow-sm">
                                    <svg class="bd-placeholder-img card-img-top" width="100%"
                                         height="225" xmlns="http://www.w3.org/2000/svg" role="img"
                                         aria-label="Placeholder: Thumbnail"
                                         preserveAspectRatio="xMidYMid slice" focusable="false">
                                        <title>Placeholder</title>
                                        <rect width="100%" height="100%" fill="#39afd1"></rect>
                                        <text x="35%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
                                    </svg>

                                    <div class="card-body">
                                        <p class="card-text">
                                            This is a wider card with supporting text
                                            below as a natural lead-in to additional content. This
                                            content is a little bit longer.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="card shadow-sm">
                                    <svg class="bd-placeholder-img card-img-top" width="100%"
                                         height="225" xmlns="http://www.w3.org/2000/svg" role="img"
                                         aria-label="Placeholder: Thumbnail"
                                         preserveAspectRatio="xMidYMid slice" focusable="false">
                                        <title>Placeholder</title>
                                        <rect width="100%" height="100%" fill="#39afd1"></rect>
                                        <text x="35%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
                                    </svg>

                                    <div class="card-body">
                                        <p class="card-text">
                                            This is a wider card with supporting text
                                            below as a natural lead-in to additional content. This
                                            content is a little bit longer.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> <!-- end card-body-->
            </div> <!-- end card-->
        </div> <!-- end col-->
    </div>
    <!-- end row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="d-flex card-header justify-content-between align-items-center">
                    <h4 class="header-title">special room</h4>
                    <div></div>
                </div>
                <div class="card-body pt-0">
                    <div class="chart-content-bg">
                        <div class="row text-center"></div>
                    </div>
                    <div dir="ltr">
                        <div class="row g-1">
                            <div class="col-2">
                                <div class="card shadow-sm">
                                    <svg class="bd-placeholder-img card-img-top" width="100%"
                                         height="225" xmlns="http://www.w3.org/2000/svg" role="img"
                                         aria-label="Placeholder: Thumbnail"
                                         preserveAspectRatio="xMidYMid slice" focusable="false">
                                        <title>Placeholder</title>
                                        <rect width="100%" height="100%" fill="#39afd1"></rect>
                                        <text x="35%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
                                    </svg>

                                    <div class="card-body">
                                        <p class="card-text">
                                            This is a wider card with supporting text
                                            below as a natural lead-in to additional content. This
                                            content is a little bit longer.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="card shadow-sm">
                                    <svg class="bd-placeholder-img card-img-top" width="100%"
                                         height="225" xmlns="http://www.w3.org/2000/svg" role="img"
                                         aria-label="Placeholder: Thumbnail"
                                         preserveAspectRatio="xMidYMid slice" focusable="false">
                                        <title>Placeholder</title>
                                        <rect width="100%" height="100%" fill="#39afd1"></rect>
                                        <text x="35%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
                                    </svg>

                                    <div class="card-body">
                                        <p class="card-text">
                                            This is a wider card with supporting text
                                            below as a natural lead-in to additional content. This
                                            content is a little bit longer.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="card shadow-sm">
                                    <svg class="bd-placeholder-img card-img-top" width="100%"
                                         height="225" xmlns="http://www.w3.org/2000/svg" role="img"
                                         aria-label="Placeholder: Thumbnail"
                                         preserveAspectRatio="xMidYMid slice" focusable="false">
                                        <title>Placeholder</title>
                                        <rect width="100%" height="100%" fill="#39afd1"></rect>
                                        <text x="35%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
                                    </svg>

                                    <div class="card-body">
                                        <p class="card-text">
                                            This is a wider card with supporting text
                                            below as a natural lead-in to additional content. This
                                            content is a little bit longer.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="card shadow-sm">
                                    <svg class="bd-placeholder-img card-img-top" width="100%"
                                         height="225" xmlns="http://www.w3.org/2000/svg" role="img"
                                         aria-label="Placeholder: Thumbnail"
                                         preserveAspectRatio="xMidYMid slice" focusable="false">
                                        <title>Placeholder</title>
                                        <rect width="100%" height="100%" fill="#39afd1"></rect>
                                        <text x="35%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
                                    </svg>

                                    <div class="card-body">
                                        <p class="card-text">
                                            This is a wider card with supporting text
                                            below as a natural lead-in to additional content. This
                                            content is a little bit longer.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="card shadow-sm">
                                    <svg class="bd-placeholder-img card-img-top" width="100%"
                                         height="225" xmlns="http://www.w3.org/2000/svg" role="img"
                                         aria-label="Placeholder: Thumbnail"
                                         preserveAspectRatio="xMidYMid slice" focusable="false">
                                        <title>Placeholder</title>
                                        <rect width="100%" height="100%" fill="#39afd1"></rect>
                                        <text x="35%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
                                    </svg>

                                    <div class="card-body">
                                        <p class="card-text">
                                            This is a wider card with supporting text
                                            below as a natural lead-in to additional content. This
                                            content is a little bit longer.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="card shadow-sm">
                                    <svg class="bd-placeholder-img card-img-top" width="100%"
                                         height="225" xmlns="http://www.w3.org/2000/svg" role="img"
                                         aria-label="Placeholder: Thumbnail"
                                         preserveAspectRatio="xMidYMid slice" focusable="false">
                                        <title>Placeholder</title>
                                        <rect width="100%" height="100%" fill="#39afd1"></rect>
                                        <text x="35%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
                                    </svg>

                                    <div class="card-body">
                                        <p class="card-text">
                                            This is a wider card with supporting text
                                            below as a natural lead-in to additional content. This
                                            content is a little bit longer.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> <!-- end card-body-->
            </div> <!-- end card-->
        </div> <!-- end col-->
    </div>
    <!-- end row -->
</div>
