<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] | MyTrave</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
    <meta content="Coderthemes" name="author" />

    <!-- App favicon -->
    <link rel="shortcut icon" href="~/assets/images/favicon.ico">

    <!-- Theme Config Js -->
    <script src="~/assets/js/hyper-config.js"></script>

    <!-- Vendor css -->
    <link href="~/assets/css/vendor.min.css" rel="stylesheet" type="text/css" />

    <!-- App css -->
    <link href="~/assets/css/app-saas.min.css" rel="stylesheet" type="text/css" id="app-style" />

    <!-- Icons css -->
    <link href="~/assets/css/icons.min.css" rel="stylesheet" type="text/css" />

    <style>
        .authentication-bg {
            background: url('https://transvelo.github.io/mytravel-html/assets/img/1920x750/img1.jpg') no-repeat center center;
            background-size: cover;
        }

        .bg-primary {
            --ct-bg-opacity: 1;
            background-color: #006ce4 !important;
        }

        .nav-pills .nav-link.active,
        .nav-pills .show > .nav-link {
            color: var(--ct-nav-pills-link-active-color);
            background-color: #006ce4
        }

        .nav-link:focus, .nav-link:hover {
            color: #2c8ef8;
        }

        .btn:hover {
            color: var(--ct-btn-hover-color);
            background-color: #006ce4;
            border-color: #006ce4;
        }

        .btn-primary {
            --ct-btn-color: #fff;
            --ct-btn-bg: #006ce4;
            --ct-btn-border-color: #2c8ef8;
            --ct-btn-hover-color: #fff;
            --ct-btn-hover-bg: #006ce4;
            --ct-btn-hover-border-color: #006ce4;
            --ct-btn-focus-shadow-rgb: 135, 144, 247;
            --ct-btn-active-color: #fff;
            --ct-btn-active-bg: #006ce4;
            --ct-btn-active-border-color: #006ce4;
            --ct-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
            --ct-btn-disabled-color: #fff;
            --ct-btn-disabled-bg: #2c8ef8;
            --ct-btn-disabled-border-color: #2c8ef8
        }

        .form-check-input:checked {
            background-color: #006ce4;
            border-color: #006ce4;
        }
    </style>

</head>


<body class="authentication-bg position-relative">
    <div class="position-absolute start-0 end-0 start-0 bottom-0 w-100 h-100">
        <svg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%' viewBox='0 0 800 800'>
            <g fill-opacity='0.22'>
                <circle style="fill: rgba(0, 94, 255, 0.1);" cx='400' cy='400' r='600' />
                <circle style="fill: rgba(0, 94, 255, 0.2);" cx='400' cy='400' r='500' />
                <circle style="fill: rgba(0, 94, 255, 0.3);" cx='400' cy='400' r='300' />
                <circle style="fill: rgba(0, 94, 255, 0.4);" cx='400' cy='400' r='200' />
                <circle style="fill: rgba(0, 94, 255, 0.5);" cx='400' cy='400' r='100' />
            </g>
        </svg>
    </div>
    @RenderBody()

    @* <footer class="footer footer-alt">
    2018 -
    <script>document.write(new Date().getFullYear())</script> © Hyper - Coderthemes.com
    </footer> *@
    <!-- Vendor js -->
    <script src="~/assets/js/vendor.min.js"></script>

    <!-- App js -->
    <script src="~/assets/js/app.min.js"></script>

</body>



</html>